<a href="http://131.mollnn.com:5000/api/test/">无数据库测试</a>
<br/>
<a href="http://131.mollnn.com:5000/api/type/distrib10/">类型分布</a>
<br/>
<a href="http://131.mollnn.com:5000/api/view/distrib/10000/">观看分布</a>
<br/>
<a href="http://131.mollnn.com:5000/api/likes/distrib/10000/">点赞分布</a>
<br/>
<a href="http://131.mollnn.com:5000/api/coin/distrib/10000/">投币分布</a>
<br/>
<a href="http://131.mollnn.com:5000/api/favorite/distrib/10000/">收藏分布</a>
<br/>
<a href="http://131.mollnn.com:5000/api/duration/distrib/10000/">时长分布</a>
<br/>
<a href="http://131.mollnn.com:5000/api/reply/distrib/10000/">评论分布</a>
<br/>
<a href="http://131.mollnn.com:5000/api/v/info/BV1144y1q7ve/">视频信息</a>
<br/>
<a href="http://131.mollnn.com:5000/api/v/danmu/freq/BV1144y1q7ve/">弹幕频率</a>
<br/>
<a href="http://131.mollnn.com:5000/api/v/danmu/wordcount/BV1144y1q7ve/100/">弹幕词汇</a>